/* Table of Contents
    1. container
    2. header
    3. Navbar
    4. Footer
    5. Content
    6. general styles

 */

/* 1. Container */
.container{
    width: 1200px;
    margin: auto;
    background-color: aliceblue;
}
/* 2. Header */
.header{
    width: inherit;
    height: 103px;
    background-color: lightsteelblue;
    border: 1px solid aliceblue;
}
/* 3. NavBar */
.navbar{
    width: inherit;
    height: 46px;
    background-color: lightsteelblue;
    border: 1px solid aliceblue;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsteelblue;
}

li{
    float: left;
    border-right: 1px solid white;
}

li a{
    display: block;
    color: floralwhite;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
li a:hover{
    background-color: cornflowerblue;
}
.active{
    background-color: lightskyblue;
}
.advertise{
    float: right;
    border-left: 1px solid white;
    background-color: dodgerblue;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: lightsteelblue;
    margin: 0;
    font-family: inherit;
}
.dropdown-content{
    display: none;
    z-index: 1;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0, 0.2);
    min-width: 160px;
    background-color: lightsteelblue;
    position: absolute;
}
.dropdown-content a{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: aliceblue;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* 4. Footer  */
.footer{
    width: 1200px;
    height: 46px;
    background-color: lightsteelblue;
    border: 1px solid aliceblue;
    display: block;
    color: floralwhite;
}
/* 5. Content */
.content{
     width: inherit;
     height: 493px;
     background-color: aliceblue;
     border: 1px solid aliceblue;
     color: lightslategrey;
 }
.me{
    height:250px;
    width: 175px;
    background-color: white;
    float: left;
    margin: 50px 7px 0px 25px;
}
.cardtwo{
    height:250px;
    width: 175px;
    background-color: white;
    float: left;
    margin: 150px 7px 0px 45px;
}
.cardthr{
    height:225px;
    width: 150px;
    background-color: white;
    float: right;
    margin: 150px 7px 0px 7px;
}

